$background: #353a44;
$color: #d9d9d9;
$accent: #6a8799;
$border-color: rgba(217, 217, 217, 0.1);

$black: #151515;
$red: #bc5653;
$green: #909d63;
$yellow: #ebc17a;
$blue: #6a8799;
$magenta: #b06698;
$cyan: #c9dfff;
$white: #d9d9d9;

$brightBlack: #636363;
$brightRed: #bc5653;
$brightGreen: #909d63;
$brightYellow: #ebc17a;
$brightBlue: #7eaac7;
$brightMagenta: #b06698;
$brightCyan: #acbbd0;
$brightWhite: #f7f7f7;
